{% extends 'base.html'%}
{% load static %}
{% block title %}
Techpile Technology - Best Summer Training
{% endblock %}
{% block content %}
<style>
    .underline::after{
    content:"";
    height:2.5px;
    width:120px;
    display:block;
    background:#ffc107;
    margin:8px auto;
    }
     .u::after{
    content:"";
    height:2px;
    width:60px;
    display:block;
    background:#ffc107;
    margin-top:5px;
    }
    .a{
    width:20%;
    min-height:545px;
    max-height:800px;
    float:left;
    margin:20px auto;
    padding:10px 2px;
    }
    .b{
    min-height:545px;
    max-height:800px;
    }
    </style>
<div class="row">
    <div class="text-center p-4">
        <h3 class="underline"><span class="text-warning">Syllabus</span> Training(1 Month)</h3>
    </div>
    <div class="col-lg-10  col-sm-10  p-4 mx-auto">
        <div class="row">
            <div class="col-md-8 ">
                <div class="col-sm-12">
                <h4 class="u text-uppercase">What Offer in Syllabus Training</h4>
                <P class="text-justify">
                        The syllabus of is designed keeping in mind the total days received for this training. In which we try to get students as much knowledge as possible. Here we are giving a brief description of the syllabus for your better understanding.
                </P>
            </div>
                <div class="col-md-12 mx-0 px-3 p-0">
                    <div class="b">
                    <div class="a" style="background:#d6d8db ;">
                        <h6 style="font-weight:bold; padding-left:5px;"> C & C++
                        </h6><hr>
                        <ul class="px-2 mx-2" style="font-size:100%; padding:0px; padding-left:15px;">
                            <li>Steps to Develop program</li>
                            <li>Algorithm</li>
                            <li>Flowchart</li>
                            <li>Debugging</li>
                            <li> Structure of C</li>
                            <li>Translator</li>
                            <li>I/O Functions</li>
                            <li>Keywords</li>
                            <li>Variable & Consonants</li>
                            <li>Operator</li>
                            <li>Control Statement</li>
                            <li>User Defined Function</li>
                            <Li>String</Li>
                        </ul>
                    </div>
                     <div class="a" style="background:#c3e6cb ;">
                          <h6 style="font-weight:bold; padding-left:5px;">JAVA
                        </h6><hr>
                         <ul class="px-2 mx-2" style="font-size:100%; padding:0px; padding-left:15px;">
                             <li>Software requirements & Installation</li>
                             <li>Environment Variable Setup</li>
                             <Li>How to run a Java program</Li>
                             <li>Structure of java program</li>
                             <li>Translator</li>
                             <li>Keywords</li>
                             <li>Variable & Consonants</li>
                             <li>Operator</li>
                             <li>Control Statement</li>
                             <Li>User Defiend Function</Li>
                         </ul>
                     </div>
                     <div class="a" style="background: #bee5eb;">
                          <h6 style="font-weight:bold; padding-left:5px;">  PYTHON
                        </h6><hr>
                         <ul class="px-2 mx-2" style="font-size:100%; padding:0px; padding-left:15px;">
                             <li>What is Language?</li>
                             <Li>Scripting Language</Li>
                             <li>Programming Paradigsm</li>
                             <li>What is Python?</li>
                             <li>Why Python</li>
                             <li>What is PSF?</li>
                             <li>Online Python IDLE</li>
                             <LI>Python Language</LI>
                             <li>Different Models of Python</li>
                             <li>Python Variables</li>

                         </ul>
                     </div>
                     <div class="a" style="background:#f5c6cb ;">
                          <h6 style="font-weight:bold; padding-left:5px;">ANDROID
                        </h6><hr>
                         <ul class="px-2 mx-2" style="font-size:100%; padding:0px; padding-left:15px;">
                             <li>Pre-Requisites of the Course</li>
                             <Li>android and Training Objectives</Li>
                             <Li>Activity</Li>
                             <li>Activity Lifecycle</li>
                             <Li>Simple I/O with Activity</Li>
                             <LI>Intent</LI>
                             <LI>Navigation with Intent</LI>
                             <li>Type of IntentBroadcost Overview</li>
                             <li>Services</li>
                             <li>Look & Feel</li>
                             <li>Notification</li>
                         </ul>
                     </div>
                     <div class="a" style="background: #343a40; color:white;">
                          <h6 style="font-weight:bold; padding-left:5px;"> UI TECHNOLOGY
                        </h6><hr>
                         <ul class="px-2 mx-2" style="font-size:100%; padding:0px; padding-left:15px;">
                             <li>Power of UI</li>
                             <Li>Current Market requirements on UI</Li>
                             <li>Crawling and meta tags</li>
                             <li>Sample Web pages</li>
                             <li>DOM</li>
                             <LI>Structure of HTML Page</LI>
                             <li>HTML, Head, Body</li>
                             <li>What is CSS</li>
                             <Li>ways of applying CSS</Li>
                             <Li>Heading Tags and Attributes</Li>
                         </ul>
                     </div>
                </div>
                <div class="col-sm-12 p-2">
                    <h4 class="u">Previous Syllabus Training</h4>
                    <img src="{% static 'images/4.png'%}" class="img-fluid" style="height:400px; width:100%;" >
                </div>
                <div class="col-sm-12 p-2">
                    <h4 class="u">Our Specialities</h4>
                    <p>We provide follow specification for our candidates.</p>
                    <ul class="fs-6" style="font-weight:500;">
                        <li>
                            Our content is professionally designed to cover the core as well as the advanced level of the Technologies.
                        </li>
                        <li>
                            An opportunity to work with highly skilled IT professionals.
                        </li>
                         <li>
                             Recovery Sessions are conducted for the trainees which will help them in clearing their doubts.
                        </li>
                         <li>
                            Regular tests are conducted for the trainees to rate their skills on different subjects.
                        </li>
                         <li>
                            We provide an opportunity to trainees to work on Industry Endorsed Projects.
                        </li>
                         <li>
                             Each day of our training is well planned to provide you with Theoretical as well as Practical Knowledge of each module.
                        </li>
                    </ul>
                </div>
                 <div class="col-sm-12 p-2">
                     <h4 class="u">Required Eligibility for Summer Training Program</h4>
                     <span class="fs-6">The required eligibility are as follow:</span>
                     <ul>
                         <li>
                             Diploma (CS)
                         </li>
                         <li>Diploma (IT)</li><li>B.Tech (CS)</li><li>B.Tech (IT)</li><LI>BCA</LI><LI>MCA</LI><LI>B.Sc (IT)</LI>
                     </ul>
                 </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-12">
                <h4 class="u ">Syllabus Training - Techpile</h4>
                <p class="pb-4 pt-2"  style="text-align:justify; border-width: 0px 0px 3px 0px; border-style:solid; border-color:black;">
                    Techile gives you a much better training option. This training specially is for students who are having trouble with their syllabus or who feel that the exam is close and their syllabus has not completed yet. We offer only selected courses in which we will provide practical knowledge along with theory. This training is totally designed keeping in mind your syllabus content. As we work only in technical field so this training also offers for only those student who is related from the C.S/I.T branch or having any computer/ computer technology related subject.
                </p>
            </div>
                    <div class="col-sm-12">
                        <h4 class="u">Benefits of Syllabus Training</h4>
                        <div class="pb-3 pt-2"  style="text-align:justify; border-width: 0px 0px 3px 0px; border-style:solid; border-color:black;">
                        <p>Yes, it is really necessary for a Computer Science  & Information Technology Students specially from B.Tech/Diploma to enroll in Summer Training for Engineering domain because of the following reasons:
                            </p>
                            <p style="font-weight:bold;"><span class="fa fa-check"></span> Increase Practical Knowledge</p>
                            <p style="font-weight:bold;"><span class="fa fa-check"></span> Provide Industrial Exposure</p>
                            <p style="font-weight:bold;"><span class="fa fa-check"></span> Polishes your Interdisciplinary Knowledge</p>
                            <p style="font-weight:bold;"><span class="fa fa-check"></span> Develop Interpersonal Skills</p>
                        </div>
                    </div>
                    <div class="col-sm-11 mx-auto mt-5 mb-3 p-3 px-4 bg-light" style="box-shadow:2px 2px 2px 2px  gray;">
                        <h4 class="u">Contact Us</h4>
                        <h6>For any Help Support - We are with you 24x7</h6>
                    <div class=" mt-3 fs-5 text-warning u2"><span style="height:50px; width:50px; background:#ffc107; border-radius:50%; padding:2px 8px; margin-top:10px; margin-right:7px;"><i class="fa-solid fa-location-dot" style="color:white;"></i></span> Our Office</div>
                    <div class="px-5">Plot No-44, Behind H P Petrol Pump
                    Tedhi Pulia Ring Rd, Sector-5<br>
                    Vikash Nagar, Lucknow<br>
                    Uttar Pradesh 226022</div>
                     <div class=" mt-4 fs-5 text-warning u2">
                         <span style="height:50px; width:50px; background:#ffc107; border-radius:50%; padding:4px 8px; margin-top:20px; margin-right:12px;"><i class="fa-solid fa-phone" style="color:white;"></i></span>Call Us</div>
                    <div class="px-5 mb-4">
                        +91 7007237006<br> +91 8052978684
                    </div>
                 <div class=" fs-5 text-warning u2">
                     <span style="height:50px; width:50px; background:#ffc107; border-radius:50%; padding:8px 10px; margin-top:10px; margin-right:14px;"><i class="fa-solid fa-envelope" style="color:white;"></i></span>Mail Us</div>
                    <div class="px-5">
                        +91 7007237006<br> +91 8052978684
                    </div>
                    </div>
                    <div class="pb-3 pt-2"  style="text-align:justify; border-width: 0px 0px 3px 0px; border-style:solid; border-color:black;"></div>
                    <div class="col-sm-12 py-4">
                        <h3 class="u mb-3"> Our Training List</h3>
                        <div>
                            <ul type="square">
                                <li>
                                    <h5><a href="/summer/" style="text-decoration:none; color:black;">Summer Training</a> </h5>
                                </li>
                                <li>
                                    <h5><a href="/winter/" style="text-decoration:none; color:black;">Winter Training</a> </h5>
                                </li>
                                <li>
                                    <h5><a href="/industrial/" style="text-decoration:none; color:black;">Industrial Training</a> </h5>
                                </li>
                                <li>
                                    <h5><a href="/syllabus/" style="text-decoration:none; color:black;">Syllabus Training</a> </h5>
                                </li>
                                <li>
                                    <h5><a href="/apprenticeship/" style="text-decoration:none; color:black;">Apprenticeship Training</a> </h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="row text-center bg-light p-5">
    <h3 class="underline"><span class="text-warning">Get</span> Enroll</h3>
    <a href="../register/"><button class="btn btn-outline-warning mt-3 px-4 py-2">GET ENROLL WITH US</button> </a>
</div>
{% endblock %}