{% extends 'base.html'%}
{% load static %}
{% block title %}
Techpile Technology - Best Summer Training
{% endblock %}
{% block content %}
<style>
    .underline::after{
    content:"";
    height:2.5px;
    width:120px;
    display:block;
    background:#ffc107;
    margin:8px auto;
    }
     .u::after{
    content:"";
    height:2px;
    width:60px;
    display:block;
    background:#ffc107;
    margin-top:5px;
    }
    </style>
<div class="row">
    <div class="text-center p-4">
        <h3 class="underline"><span class="text-warning">Winter</span> Training(4/6 WEEKS)</h3>
        <p>Techpile provides best Winter Training in lucknow on latest technology.</p>
    </div>
    <div class="col-lg-10  col-sm-10  p-4 mx-auto">
        <div class="row">
            <div class="col-md-8 px-5">
                <div class="col-sm-12">
                <h4 class="u text-uppercase">winter Training PROSPECTIVE</h4>
                <P class="text-justify">
                    The syllabus of winter training is designed keeping in mind the total days received for this training. In which we try to get students as much knowledge as possible. Here we are giving a brief description of the syllabus for your better understanding.
                </P>
            </div>
                <div class="row mb-3 px-2">
                    <div class="col-sm-12  px-3 pt-3 " style="background:#bee5eb;">
                        <div class="row">
                            <div class="col-4">
                                <h6 style="font-weight:bold;">Fountain Session</h6>
                                <p>HTML-5, CSS-3, Bootstrap, C, Javascript, JQuery, Database, Graphics Designing</p>
                            </div>
                            <div class="col-4">
                                <h6 style="font-weight:bold;">Technical Session</h6>
                                <p>Android / Python<br>.NET / PHP /Java</p>
                            </div>
                            <div class="col-4">
                                <h6 style="font-weight:bold;">Project Session</h6>
                                <p>
                                    One project will assign to each student separately according to their choice.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 p-3" style="background:#c3e6cb;">
                        <div class="row">
                            <div class="col-4">
                                <h6 style="font-weight:bold;">Extra Activities(On Sunday)</h6>
                                <p>
                                    Motivation Video, Industry Exposure, Resume Making, Personality Development Class, Mock Interview, Indoor Game
                                </p>
                            </div>
                            <div class="col-4">
                                <h6 style="font-weight:bold;">Common Modules</h6>
                                <p>
                                    SMS API, Email API, Google Map integration, Captcha Code, Password Encryption, Login Authentication, Uploading & Downloading
                                </p>
                            </div>
                            <div class="col-4">
                                <h6 style="font-weight:bold;">Project Submission & Host</h6>
                                <p>
                                    Techpile provides one year free project hosting and one separate URL to each trainee. Every student submit their complete project to Techpile.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 p-3" style="background:#bee5eb;">
                        <div class="row">
                            <div class="col-8">
                                <h6 style="font-weight:bold;">Techpile's Extra Services</h6>
                                <p>
                                        5 Hours daily classes, Notes of each language, Test on every saturday, Free project hosting for one year, Free project report to each student, Free laptop bag / Techpile t-shirt, Great guidance to get job in future, Hostel and room facility, Lifetime technical support
                                </p>
                            </div>
                            <div class="col-4">
                                <h6 style="font-weight:bold;">Farewell & Award Distribute</h6>
                                <p>
                                        Star Performer , Outstanding Performer , Best Performer <br>Training Certificate to each
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 p-2">
                    <h4 class="u">Previous Winter Training</h4>
                    <img src="{% static 'images/6.png'%}" class="img-fluid" style="height:400px; width:100%;" >
                </div>
                <div class="col-sm-12 p-2">
                    <h4 class="u">Our Specialities</h4>
                    <p>We provide follow specification for our candidates.</p>
                    <ul class="fs-6" style="font-weight:500;">
                        <li>
                            Our content is professionally designed to cover the core as well as the advanced level of the Technologies.
                        </li>
                        <li>
                            An opportunity to work with highly skilled IT professionals.
                        </li>
                         <li>
                             Recovery Sessions are conducted for the trainees which will help them in clearing their doubts.
                        </li>
                         <li>
                            Regular tests are conducted for the trainees to rate their skills on different subjects.
                        </li>
                         <li>
                            We provide an opportunity to trainees to work on Industry Endorsed Projects.
                        </li>
                         <li>
                             Each day of our training is well planned to provide you with Theoretical as well as Practical Knowledge of each module.
                        </li>
                    </ul>
                </div>
                 <div class="col-sm-12 p-2">
                     <h4 class="u">Required Eligibility for Summer Training Program</h4>
                     <span class="fs-6">The required eligibility are as follow:</span>
                     <ul>
                         <li>
                             Diploma (CS)
                         </li>
                         <li>Diploma (IT)</li><li>B.Tech (CS)</li><li>B.Tech (IT)</li><LI>BCA</LI><LI>MCA</LI><LI>B.Sc (IT)</LI>
                     </ul>
                 </div>
            </div>

            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-12">
                <h4 class="u ">Winter Training - Techpile</h4>
                <p class="pb-4 pt-2"  style="text-align:justify; border-width: 0px 0px 3px 0px; border-style:solid; border-color:black;">
                    This Winter training is organized by Techpile every year in the month of January/February. Which is mainly go through the 40 to 50 days.We think that the essence of learning should not be time-bound. Thus, the Winter Training program of Techpile presents itself as a golden opportunity for the students who were unable to join the Summer Training to learn and gain industrial exposure on the technologies of their choice.
                </p>
            </div>
                    <div class="col-sm-12">
                        <h4 class="u">Benefits of Winter Training</h4>
                        <div class="pb-3 pt-2"  style="text-align:justify; border-width: 0px 0px 3px 0px; border-style:solid; border-color:black;">
                        <p>Yes, it is really necessary for a Computer Science  & Information Technology Students specially from B.Tech/Diploma to enroll in Summer Training for Engineering domain because of the following reasons:
                            </p>
                            <p style="font-weight:bold;"><span class="fa fa-check"></span> Increase Practical Knowledge</p>
                            <p style="font-weight:bold;"><span class="fa fa-check"></span> Provide Industrial Exposure</p>
                            <p style="font-weight:bold;"><span class="fa fa-check"></span> Polishes your Interdisciplinary Knowledge</p>
                            <p style="font-weight:bold;"><span class="fa fa-check"></span> Develop Interpersonal Skills</p>
                        </div>
                    </div>
                    <div class="col-sm-11 mx-auto mt-5 mb-3 p-3 px-4 bg-light" style="box-shadow:2px 2px 2px 2px  gray;">
                        <h4 class="u">Contact Us</h4>
                        <h6>For any Help Support - We are with you 24x7</h6>
                    <div class=" mt-3 fs-5 text-warning u2"><span style="height:50px; width:50px; background:#ffc107; border-radius:50%; padding:2px 8px; margin-top:10px; margin-right:7px;"><i class="fa-solid fa-location-dot" style="color:white;"></i></span> Our Office</div>
                    <div class="px-5">Plot No-44, Behind H P Petrol Pump
                    Tedhi Pulia Ring Rd, Sector-5<br>
                    Vikash Nagar, Lucknow<br>
                    Uttar Pradesh 226022</div>
                     <div class=" mt-4 fs-5 text-warning u2">
                         <span style="height:50px; width:50px; background:#ffc107; border-radius:50%; padding:4px 8px; margin-top:20px; margin-right:12px;"><i class="fa-solid fa-phone" style="color:white;"></i></span>Call Us</div>
                    <div class="px-5 mb-4">
                        +91 7007237006<br> +91 8052978684
                    </div>
                 <div class=" fs-5 text-warning u2">
                     <span style="height:50px; width:50px; background:#ffc107; border-radius:50%; padding:8px 10px; margin-top:10px; margin-right:14px;"><i class="fa-solid fa-envelope" style="color:white;"></i></span>Mail Us</div>
                    <div class="px-5">
                        +91 7007237006<br> +91 8052978684
                    </div>
                    </div>
                    <div class="pb-3 pt-2"  style="text-align:justify; border-width: 0px 0px 3px 0px; border-style:solid; border-color:black;"></div>
                    <div class="col-sm-12 py-4">
                        <h3 class="u mb-3"> Our Training List</h3>
                        <div>
                            <ul type="square">
                                <li>
                                    <h5><a href="/summer/" style="text-decoration:none; color:black;">Summer Training</a> </h5>
                                </li>
                                <li>
                                    <h5><a href="/winter/" style="text-decoration:none; color:black;">Winter Training</a> </h5>
                                </li>
                                <li>
                                    <h5><a href="/industrial/" style="text-decoration:none; color:black;">Industrial Training</a> </h5>
                                </li>
                                <li>
                                    <h5><a href="/syllabus/" style="text-decoration:none; color:black;">Syllabus Training</a> </h5>
                                </li>
                                <li>
                                    <h5><a href="/apprenticeship/" style="text-decoration:none; color:black;">Apprenticeship Training</a> </h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="row text-center bg-light p-5">
    <h3 class="underline"><span class="text-warning">Get</span> Enroll</h3>
    <a href="../register/"><button class="btn btn-outline-warning mt-3 px-4 py-2">GET ENROLL WITH US</button> </a>
</div>
{% endblock %}