{% extends 'base.html'%}
{% load static %}
{% block title %}
Techpile Technology - Best Summer Training
{% endblock %}
{% block content %}
<style>
    .underline::after{
    content:"";
    height:2.5px;
    width:120px;
    display:block;
    background:#ffc107;
    margin:8px auto;
    }

</style>
<div class="row p-4">
    <div class="text-center"><h3 class="underline">Recently <span class="text-warning"> Placed</span> Student</h3>
    <p>
        Techpile Technology is known for its 100% Placement. The students which are recently placed<br> from Techpile technology.
    </p>
    </div>
    <div class="row">
        <div class="col-sm-10 mx-auto">
            <div class="row">
                {% for i in pdata %}
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 p-3">
                    <div class="row">
                        <div class="col-sm-12 text-center">

                                <div class="card "  style="overflow:hidden; height:100%;">
                                <img src="/{{ i.image }}" STYLE="max-height:200px" class="img-fluid">
                                <div class="card-body text-center py-1 a">
                                    <span style="font-weight:bold">{{ i.name }}</span> <br> {{ i.college }}
                                   <br><b class="text-warning">{{ i.company }}</b> <br><span >{{ i.fyear }}-{{ i.syear}}</span>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}