{% extends 'base.html'%}
{% load static %}
{% block title %}
Techpile Technology - Best Summer Training
{% endblock %}
{% block content %}
<style>
    .underline::after{
    content:"";
    height:2.5px;
    width:120px;
    display:block;
    background:#ffc107;
    margin:8px auto;
    }
    tr{
    border:1px solid black;
    }
</style>
<div class="row p-4">
    <div class="text-center"><h3 class="underline">Governed by <span class="text-warning"> Techpile Technology Pvt. Ltd.</span> </h3> </div>
    <div class="col-lg-8 p-4 mx-auto">
        <table class="p-5">
            <tr>
                <td class="p-3">
                    Techpile.in is a Learning Management System and hence these below mentioned
                    terms and conditions for the usage of the LMS are governed by Techpile Technology Pvt. Ltd.
                </td>
            </tr>
            <tr><td class="p-3">
                Your information such as Name, e-mail, contact number and more that you provide to us while
                registering, enquiring or any other such process is saved by us for further usage such as
                information providing for further courses, generation of E-Certificates etc. by no other
                organization but us.
            </td></tr>
            <tr><td class="p-3">

                        Your information such as Name, e-mail, contact number and more that you provide to us while
                        registering, enquiring or any other such process is saved by us for further usage such as
                        information providing for further courses, generation of E-Certificates etc. by no other
                        organization but us.


            </td></tr>
            <tr><td  class="p-3">
                        All the information that we provide to you in the form of class recordings,
                        study material, notes, sample papers etc. are strictly for your personal usage
                        and are not meant to be shared with anyone else.

            </td></tr>
            <tr><td class="p-3">
                        Link sharing of online classes or sharing your login credentials with anyone is
                        against our privacy policy and will fall into Cybercrime (phishing) and will be facing a strict action.

            </td></tr>
            <tr><td class="p-3">
                        The Techpile is the final decision maker in any case of dispute/issue/problem if any, arises during the training.
            </td></tr>

        </table>
    </div>
</div>
{% endblock %}